{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Learning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<div class="wrapper">
    <div class="title"><span>Signup Form</span></div>
    <form method="POST" action="{{ url_for('auth.signup') }}">
        <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required />
        </div>
        <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required />
        </div>
        <div class="row button">
            <input type="submit" value="Signup" />
        </div>
        <div class="signup-link">Already a member? <a href="{{ url_for('auth.login') }}">Login now</a></div>
    </form>
</div>
{% endblock %}